* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #efeff1;
    font-family: Teko;
    font-weight: 400;
    line-height: 1.6;
    background-color: #0e0e10;
}

h1, h2 {
    font-weight: 500;
}

p {
    letter-spacing: 1px;
}

a {
    color: #efeff1;
    text-decoration: underline;
}

img {
    user-select: none;
    pointer-events: none;
}